<<<<<<<< HEAD:assets/teamstyle.css
/* General styles */
body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #54796d;
  color: white;
  min-height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Title styles */
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Team info styles */
.team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.team-logo {
  width: 100px;
  height: auto;
}

.subtitle {
  font-size: 1.8rem;
}

/* Games list styles */
.games-list {
  list-style-type: none;
  padding: 0;
}

.games-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C2340;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.games-list li * {
  transition: color 0.3s;
}

.games-list li:hover {
  background-color: #E31937;
}

.games-list li:hover * {
  color: black;
  font-weight: bold;
}

.weather-info {
  display: none;
}

h1,
h2,
h4,
p,
li {
  color: white;
}

.modal-content .box {
  background-color: rgba(84, 121, 109, 0.8);
  color: white;
}

.modal-content .box h2,
.modal-content .box p {
  color: white;
}








========
/* General styles */
body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color: #54796d;
  color: white;
  min-height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Title styles */
.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Team info styles */
.team-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.team-logo {
  width: 100px;
  height: auto;
}

.subtitle {
  font-size: 1.8rem;
}

/* Games list styles */
.games-list {
  list-style-type: none;
  padding: 0;
}

.games-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C2340;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.games-list li * {
  transition: color 0.3s;
}

.games-list li:hover {
  background-color: #E31937;
}

.games-list li:hover * {
  color: black;
  font-weight: bold;
}

.weather-info {
  display: none;
}

h1,
h2,
h4,
p,
li {
  color: white;
}

.modal-content .box {
  background-color: rgba(84, 121, 109, 0.8);
  color: white;
}

.modal-content .box h2,
.modal-content .box p {
  color: white;
}








>>>>>>>> 5b9e3d3141db2b4e724c744817ca72c360e2a318:teamstyle.css
